@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: c.$BLACK, $alpha: 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popup {
  padding: 25px 50px;
  background: c.$WHITE;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Title {
  @include t.heading_3();

  color: c.$BLACK;
}

.Input {
  @include t.body_1();

  width: 35vw;
  background: c.$GRAY_WHITE;
  border: 1px solid c.$GRAY_LIGHT;
  color: c.$GRAY_DARK;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: end;
}
