@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Popup {
  padding: 25px 50px;
  background: c.$WHITE;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Input {
  @include t.body_1();

  width: 35vw;
  background: c.$GRAY_WHITE;
  border: 1px solid c.$GRAY_LIGHT;
  color: c.$GRAY_DARK;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: end;
}
