@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Popup {
  padding: 25px 50px;
  background: c.$WHITE;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Input {
  width: 35vw;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: end;
}
