$BLACK: #000000;
$WHITE: #ffffff;

$GRAY_LIGHT: #aeaeae;
$GRAY: #5c5c5c;
$GRAY_DARK: #383838;

$RED: #f63049;
$RED_LIGHT: #fc7789;

$GREEN: #5cb338;
$GREEN_LIGHT: #b6f89a;

$YELLOW: #ffd41d;
$YELLOW_LIGHT: #fee887;
