@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Header {
  width: 100%;
  padding: 25px 50px;
  background: c.$WHITE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid c.$GRAY_LIGHT;
}

.Boards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
