@use "../../style/colors.scss" as c;
@use "../../style/typography.scss" as t;

@mixin button {
  padding: 5px 15px;
  background: c.$WHITE;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
  transition: all 0.25s;
  border-radius: 10px;
  color: c.$GRAY_DARK;

  &:hover {
    background: c.$GRAY_WHITE;
    border-color: c.$GRAY_LIGHT;
  }
}

.Small {
  @include t.body_3();
  @include button();
}

.Medium {
  @include t.body_2();
  @include button();
}

.Big {
  @include t.body_1();
  @include button();
}
