@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: c.$BLACK, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Task {
  width: 50vw;
  background: c.$WHITE;
  padding: 15px 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Title {
  @include t.heading_3();

  color: c.$BLACK;
}

.Body {
  @include t.body_1();

  color: c.$GRAY_DARK;
}

.Priority {
  @include t.body_1();

  color: c.$GRAY_DARK;
}

.Date {
  @include t.body_1();

  color: c.$GRAY_DARK;
}
