@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Task {
  background: c.$WHITE;
  border: 1px solid c.$GRAY_LIGHT;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    box-shadow: 0 0 10px rgba($color: c.$GRAY_DARK, $alpha: 0.5);
  }
}

.Content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin priority($color) {
  @include t.body_2();

  background: $color;
  width: max-content;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 5px;
}

.Low {
  @include priority(c.$GREEN_LIGHT);
}

.Moderate {
  @include priority(c.$YELLOW_LIGHT);
}

.High {
  @include priority(c.$RED_LIGHT);
}

.Controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
}
