@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Recent {
  width: 50%;
  min-height: 150px;
  background: c.$WHITE;
  border: 1px solid c.$GRAY_LIGHT;
  padding: 15px 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.List {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.Link {
  text-decoration: none;
  background: c.$WHITE;
  border: 1px solid c.$WHITE;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.25s;

  &:hover {
    background: c.$GRAY_WHITE;
    border-color: c.$GRAY_LIGHT;
  }
}
