@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Columns {
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
