@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Head {
  padding: 15px 25px;
  background: c.$WHITE;
  border-bottom: 1px solid c.$GRAY_LIGHT;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TaskForm {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.Input {
  width: 25vw;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Columns {
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.Link {
  text-decoration: none;
}
