@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Head {
  padding: 15px 25px;
  background: c.$WHITE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid c.$GRAY_LIGHT;
}

.Title {
  @include t.heading_3();

  color: c.$BLACK;
}

.Input {
  @include t.heading_3();

  width: 25vw;
  color: c.$BLACK;
  background: transparent;
  border: 0;
  border-bottom: 1px solid c.$BLACK;
  outline: 0;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Columns {
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
