@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Head {
  padding: 15px 50px;
  background: c.$WHITE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid c.$GRAY_LIGHT;
}

.Title {
  @include t.heading_2();

  color: c.$BLACK;
}

.Columns {
  padding: 25px 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
