@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Column {
  background: c.$WHITE;
  width: 100%;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px c.$GRAY_LIGHT;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Tasks {
  height: 50vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 15px 10px;
  background: c.$GRAY_WHITE;
  border: 1px solid c.$GRAY_LIGHT;
  overflow-y: auto;
  border-radius: 10px;
  scrollbar-width: thin;
  scrollbar-color: c.$GRAY_LIGHT c.$GRAY_WHITE;
}
