@use "../../shared/style/colors.scss" as c;
@import "../../shared/style/typography.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: c.$BLACK;
}
