@use "../../shared/style/colors.scss" as c;
@use "../../shared/style/typography.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  background: c.$BLACK;
  display: flex;
  flex-direction: column;
}
