@use "../../shared/style/colors.scss" as c;
@use "../../shared/style/typography.scss" as t;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  background: c.$GRAY_WHITE;
  display: flex;
  flex-direction: column;
}

.Content {
  width: 100%;
  height: 100%;
  background: c.$GRAY_WHITE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home {
  @include t.heading_1();

  width: 100%;
  height: 100%;
  background: c.$WHITE;
  display: flex;
  align-items: center;
  justify-content: center;
}
