@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Popup {
  background: c.$WHITE;
  width: 50vw;
  padding: 25px 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Priorities {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
