@use "../../style/colors.scss" as c;

.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba($color: c.$BLACK, $alpha: 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
