@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Popup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 25px;
  border-radius: 10px;
  background: c.$WHITE;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
