@use "../../../shared/style/colors.scss" as c;
@use "../../../shared/style/typography.scss" as t;

.Menu {
  width: 20vw;
  height: 100%;
  background: c.$WHITE;
  border-right: 1px solid c.$GRAY_LIGHT;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 15px;
}

.Head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Text {
  @include t.body_1();

  color: c.$GRAY_DARK;
}

.Boards {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid c.$GRAY_LIGHT;
  border-bottom: 1px solid c.$GRAY_LIGHT;
  padding: 10px 5px;
}

.Link {
  @include t.body_2();

  color: c.$GRAY_DARK;
  text-decoration: none;
  background: c.$WHITE;
  border: 1px solid c.$WHITE;
  transition: all 0.25s;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    background: c.$GRAY_WHITE;
    border-color: c.$GRAY_LIGHT;
  }
}

.Empty {
  @include t.body_2();

  color: c.$GRAY_DARK;
  text-align: center;
}
